h1
    font-weight 400
    font-size 30px
    color #4f4f4f

.title
    font-weight: 400

.v-toolbar__title
    font-weight: 400

ol.v-breadcrumb
    list-style-type: none
    margin: 0
    padding: 0
    display: inline-block
    white-space:nowrap

.v-chip
    border-radius: 3px;
    border-color: #bfbfbf !important;
    background: #ffffff !important;
    .v-chip__content
        height: 28px
        font-size: 16px
    .v-chip__close
        opacity: 0.6

.v-input-group__selections
    height: 34px;

.biggerInput .input-group__input
    height: 34px;

.v-list__tile__title
    font-size: 17px
    font-weight: 400

.v-list__tile__action
    min-width: 48px

.v-breadcrumbs
    display: inline-block;
    li
        font-size: 20px;
        a
            color: #ffffff;

.v-breadcrumbs li.v-breadcrumbs__divider
    padding: 0px 5px;

a.v-breadcrumbs__item
    color: #ffffff !important

table.v-table tbody td
    font-size: 15px;

.v-btn
    margin: 6px 0px;

.compactTable table.v-table tbody td, table.v-table tbody th, .compactTable table.v-table thead th
    height: 38px;
    padding: 0 8px;
    vertical-align: top;

.compactTable table.v-table thead tr
    height:15px
.compactTable table.v-table thead th
    vertical-align: middle

.compactTable table.v-datatable td:first-child
    padding: 0px 6px;
.compactTable table.v-datatable td:last-child
    padding: 0px 8px;

.frontPage
    background-image: url("/static/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    .container
        background: rgba(255, 255, 255, 0.7);
        border-radius: 8px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);

.v-snack__content
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.04em;
    i
        margin-right: 8px;
        margin-bottom: -2px;

.welcome
    .header
        background-color: rgba(252, 235, 179, 0.49); box-shadow: 0 0 65px 35px rgba(252, 235, 179, 0.49);
        .subheading
            text-shadow: 1px 1px 7px #fff6eb, 0 0 40px #fff9d5;
            font-size: 18px !important;

    .want-to-try-header
        text-shadow: rgb(255, 255, 255) 1px 1px 5px, rgb(255, 255, 255) 0px 0px 40px;
        font-size: 28px !important;
        font-weight: 100;
        color: #7b5f46 !important;
        margin-top: -50px;
    .v-slider__thumb
        width: 55px;
        height: 55px;
        left: -30px;
    .v-slider__track__container
        height: 8px;
        opacity: 0.6;
    .v-slider__track-fill
        height: 8px;
    .v-slider__track
        height: 8px;

.priceCalculatorHeader
    align-items: center;
    justify-content: center;
    font-size: 28px;
.priceCalculatorHeader input
    font-size: 28px;
    text-align: center;
    margin-top:10px;

.loginErrorMessage
    margin-top:-18px;
    color: #ff5252
    font-size: 12px;

h1.regForm
    font-size: 22px;
    color: rgb(114, 114, 114);
    margin-bottom: 10px;
    margin-top: -6px;
.theme--dark .v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat), .application .theme--dark.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat)
    background-color: #9ea99a !important;

.v-btn--floating.v-btn--absolute.closeButton
    margin-top: 35px;
    z-index: 1;

.inactiveTable tr:hover
    background: #ffffff !important
.v-snack__content
    height: 80px;
    letter-spacing: 0.07em;
.v-snack__wrapper
    background-color: #3e3e3e;

@media screen and (max-width: 600px)
    h1
        margin-left: 8px;
        font-size: 28px;
        font-weight: 100
    table.v-table tbody td
        font-size: 14px;
    .v-toolbar__title
        padding-left: 0px !important;
    .v-breadcrumbs
        padding-left: 0px;
    .v-btn
        margin: 6px 10px;
    .welcome
        .v-slider__thumb
            width: 65px;
            height: 65px;
            left: -35px;
